.navigation {
  position: absolute;
  bottom: 14px;
  z-index: 1000;
  width: 28px;
  height: 28px;
  background-color: unset;
  padding: 0;
  border: none;
  cursor: pointer;

  > svg {
    width: 100%;
    height: 100%;
  }

  //&.previous {
  //  transform: rotateZ(180deg);
  //}
}
